[MESSAGES CONTROL]
disable=c-extension-no-member

[MASTER]
# https://github.com/samuelcolvin/pydantic/issues/1961#issuecomment-759522422
extension-pkg-whitelist=pydantic,duckdb
ignore=templates,docs

[IMPORTS]
ignore-modules=duckdb
