[MESSAGES CONTROL]
disable =
  duplicate-code
  use-implicit-booleaness-not-comparison

[MASTER]
# https://github.com/samuelcolvin/pydantic/issues/1961#issuecomment-759522422
extension-pkg-whitelist=pydantic
ignore=templates,docs
disable=
  duplicate-code
  use-implicit-booleaness-not-comparison
