from datajunction import (
    DJBuilder, Source, Dimension, Transform, Metric,
    Namespace, MetricUnit, MetricDirection, ColumnAttribute,
)

DJ_URL = "{{ request_url }}"

dj = DJBuilder(DJ_URL)
dj.basic_login("dj", "dj")
