{{ short_name }} = dj.create_cube(
    name=f"{{ name }}",
    display_name="{{ display_name }}",
    description="""{{ description }}""",
    dimensions=[{%- for dimension in dimensions %}
        "{{ dimension }}",
        {%- endfor %}
    ],
    metrics=[{%- for metric in metrics %}
        f"{{ metric }}",
        {%- endfor %}
    ],
    mode="{{ mode }}",
    tags=[{%- for tag in tags %}
        dj.tag("{{ tag }}"),
        {%- endfor %}{% if tags %}
    {% else %}{% endif %}],
    update_if_exists=True,
)