.react-flow__node-custom {
  font-size: 1.2em;
  width: 180px;
  background: #f5f5f6;
  color: #222;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
  border-radius: 2px;
}
.react-flow {
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.react-flow__node-custom .react-flow__handle {
  top: 24px;
  right: -15px;
  width: 6px;
  height: 10px;
  border-radius: 2px;
  background-color: #778899;
}

.react-flow__node.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.react-flow__node.annotation {
  border-radius: 0;
  text-align: left;
  background: white;
  border: none;
  line-height: 1.4;
  width: 225px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
}

.react-flow__node.annotation .react-flow__handle {
  display: none;
}

.dj-node__header,
.partition__header,
.table__header {
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'jetbrains-mono', monospace;
  font-size: 1.5em;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
  padding-left: 0.75em;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #c4cbd1;
}

.dj-node__body,
.partition__body,
.table__body {
  background-color: rgb(254, 254, 254);
  padding: 0.5em 0.7em 0.9em 0.7em;
  font-family: 'nt-dapper', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.7em;
}

.dj-node__full,
.partition__full,
.table__full {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: #b0b9c2;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.partition__header,
.partition__body,
.partition__full,
.table__body,
.table__header {
  font-size: 1em;
  font-family: 'nt-dapper', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.partition__full,
.table__full {
  margin-bottom: 1rem;
  border-color: #e0e0e0;
}

.partition__header,
.table__header {
  background-color: #ccefff50;
  color: #6daaa7;
  text-transform: none;
  border-bottom-style: none;
}

.partition_value {
  background-color: #ccefff50;
  color: #6daaa7;
  border: 1px solid #6daaa750;
}

.table__header {
  background-color: rgba(227, 255, 204, 0.31);
  color: #0aa400;
}

.table__body {
  padding: 16px;
}

.table__full {
  /*border-radius: 0.2em;*/
  /*border: none;*/
}

.dj-node__metadata {
  padding: 1em;
  font-family: 'nt-dapper', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1em;
}

.collapse-button {
  display: block;
  width: 100%;
  font: 0.8em 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  border: none;
  margin-top: 0.2em;
  padding: 0.35em;
}
.collapse {
  padding-top: 10px;
}
.collapse-content.collapsed {
  display: none;
}
.collapsed-content.expanded {
  display: block;
}
.collapse tr td {
  padding-left: 5px;
  padding-bottom: 5px;
}
.serif {
  font-family: 'jetbrains-mono', monospace;
  text-transform: lowercase;
}
