body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
::after,
::before {
  box-sizing: border-box;
}
div {
  display: block;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  width: 100%;
}
a,
a:hover {
  text-decoration: none;
  color: #005c72;
  font-family: 'Cerebri Sans', sans-serif;
}
a:hover {
  text-decoration: underline;
}
button.nav-link {
  background: none;
  color: #007acc;
  border: inherit;
  padding: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
code {
  font-family: Consolas, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.link-body-emphasis {
  font-weight: normal;
  color: #5e5e5e;
  text-decoration: none;
}

.link-body-emphasis:hover {
  color: #3f4254;
}

.link-table {
  color: #3b506c;
  font-weight: normal;
  text-decoration: none;
}
.breadcrumb-chevron {
  --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%236c757d'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  gap: 0.5rem;
}
.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: var(--bs-breadcrumb-divider-color);
  content: var(--bs-breadcrumb-divider, '/');
}
.rounded-3 {
  border-radius: 0.5rem !important;
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: rgba(248, 249, 250, 1) !important;
}
.p-3 {
  padding: 1rem !important;
}
.fw-semibold {
  font-weight: 600 !important;
}
.breadcrumb {
  --bs-breadcrumb-padding-x: 0;
  --bs-breadcrumb-padding-y: 0;
  --bs-breadcrumb-margin-bottom: 1rem;
  --bs-breadcrumb-bg: #ffffff;
  --bs-breadcrumb-border-radius: 0.5rem;
  --bs-breadcrumb-divider-color: rgba(33, 37, 41, 0.75);
  --bs-breadcrumb-item-padding-x: 0.5rem;
  --bs-breadcrumb-item-active-color: rgba(33, 37, 41, 0.75);
  display: flex;
  flex-wrap: wrap;
  padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
  margin-bottom: var(--bs-breadcrumb-margin-bottom);
  list-style: none;
  line-height: 1em;
  background-color: var(--bs-breadcrumb-bg);
  border-radius: var(--bs-breadcrumb-border-radius);
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

.list-group {
  width: 100%;
  /*min-width: fit-content;*/
  max-width: fit-content;
  /*margin-inline: 1.5rem;*/
  border-radius: 0.375rem;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: #ffffff;
  /*border: 1px solid #dee2e6;*/
  min-width: fit-content;
}
.list-group-item + .list-group-item {
  border-top-width: 0;
}
.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.li {
  cursor: pointer;
}
.raw-node-list {
  flex: 0 0 50px;
}
.d-flex {
  display: flex !important;
}
.gap-2 {
  gap: 0.5rem !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.w-100 {
  width: 100% !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.h6,
h6 {
  margin: 0;
  /*background-color: #f9fbfd;*/
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 0.08em;
  color: #95aac9;
}
.larger {
  font-size: 120%;
}
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.align-items-center {
  align-items: center !important;
}
.p-4 {
  padding: 1.5rem !important;
}
.flex-md-row {
  flex-direction: row !important;
}
.py-md-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.badge {
  vertical-align: middle;
}
.badge.bg-secondary-soft {
  color: #6e84a3;
}
.badge.bg-secondary-error {
  color: #6e84a3;
  background-color: #fad7dd;
}
.badge.rounded-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
}
.bg-secondary-soft {
  background-color: #e2e6ed !important;
}
.rounded-pill {
  border-radius: 50rem !important;
}
.badge {
  --bs-badge-padding-x: 0.5em;
  --bs-badge-padding-y: 0.33em;
  --bs-badge-font-size: 76%;
  --bs-badge-font-weight: 400;
  --bs-badge-color: #fff;
  --bs-badge-border-radius: 0.375rem;
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  color: var(--bs-badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius);
}
table {
  display: table;
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
  caption-side: bottom;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.card-table {
  margin-bottom: 0;
  width: 100%;
  font-size: 0.8125rem;
  color: #12263f;
  vertical-align: top;
  border-color: #12263f;
}

.card {
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  /*border: 1px solid #edf2f9;*/
  border-radius: 1rem;
  margin: 2rem;
}

.card-light-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 1rem;
}

.sidebar {
  /*height: 200px;*/
  position: sticky;
  top: 0;
  left: 0;
  /*padding-top: 40px;*/
  /*background-color: lightblue;*/
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /*position: relative;*/
  display: grid;

  grid-template-columns: auto auto auto;
  grid-gap: 8px;
  padding: 8px;
}
.table > thead {
  vertical-align: bottom;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border: 0 solid;
  border-color: inherit;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.card-table tbody td:first-child,
.card-table thead th:first-child {
  padding-left: 1.5rem !important;
}
.table thead th {
  /*background-color: #f9fbfd;*/
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 0.08em;
  color: #95aac9;
}

.card-table thead th {
  border-top-width: 0;
}
.table thead th {
  font-size: 0.625rem;
}
.table thead th,
td,
tbody th {
  vertical-align: middle;
  text-align: center;
}
.table [data-sort],
.table-nowrap td,
.table-nowrap th {
  white-space: nowrap;
}
.table thead th {
  background-color: #f9fbfd;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 0.08em;
  color: #95aac9;
  padding: 1rem;
}
.text-start {
  text-align: left !important;
}
.card-inner-table {
  margin-top: 2rem;
}
.card-inner-table thead th {
  background-color: #fff;
}
.table td,
.table th {
  border-top: 1px solid #edf2f9;
  border-bottom: 0;
  padding: 1rem;
}
.card-inner-table td,
.card-inner-table th {
  border-top: 1px dashed #edf2f9;
}
.mid {
  flex: 0 0 auto;
  width: 100%;
}
.table > :not(caption) > * > * {
  background-color: transparent;
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px transparent;
}

/* Nodes */
.node_type {
  background-color: #fad7dd !important;
  color: #e63757;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 0.44rem;
  border-radius: 0.375rem;
  word-wrap: break-word;
  white-space: break-spaces;
}

/* Nodes */
.node_type__source {
  background-color: #ccf7e5 !important;
  color: #00b368;
}
.react-flow__node .node_type__source {
  background-color: #7eb46150 !important;
  color: #7eb461;
}

.node_type__transform {
  background-color: #ccefff !important;
  color: #0063b4;
}
.react-flow__node .node_type__transform {
  background-color: #6daaa750 !important;
  color: #6daaa7;
}

.node_type__metric {
  background-color: #fad7dd !important;
  color: #a2283e;
}
.react-flow__node .node_type__metric {
  background-color: #a27e8650 !important;
  color: #a27e86;
}

.node_type__dimension {
  background-color: #ffefd0 !important;
  color: #a96621;
}
.react-flow__node .node_type__dimension {
  background-color: #cf7d2950 !important;
  color: #cf7d29;
}

.node_type__cube {
  background-color: #dbafff !important;
  color: #580076;
}
.react-flow__node .node_type__cube {
  background-color: #c2180750 !important;
  color: #c2180750;
}

.history_type__create {
  background-color: #ccf7e5 !important;
  color: #00b368;
}

.history_type__deactvate {
  background-color: #a8a8a8 !important;
  color: #855e5e;
}

.history_type__activate {
  background-color: #ccf7e5 !important;
  color: #00b368;
}

.history_type__modify {
  background-color: #ffefd0 !important;
  color: #a96621;
}

.history_type__link {
  background-color: #a8a8a8 !important;
  color: #855e5e;
}

.history_type__tag {
  background-color: #a8a8a8 !important;
  color: #855e5e;
}

.history_type__set_attribute {
  background-color: #a8a8a8 !important;
  color: #855e5e;
}

.partition_value {
  border: solid #00b368 0.025em;
  background-color: #ccf7e525;
  margin: 0.25rem;
}

.partition_value_highlight {
  border: solid #5c3b8f 0.025em;
  color: #5c3b8f;
  background-color: #5c3b8f25;
  margin: 0.25rem;
}

.dimension_option {
  border: solid #5c3b8f 0.025em;
  color: #5c3b8f;
  background-color: #5c3b8f25;
  margin: 0.25rem;
  font-size: 16px;
}

.dimension_option_subheading {
  background-color: #ffffff !important;
  color: #580076;
  padding: 0.4rem;
  margin: 0.4rem;
  font-size: 12px;
}

.upstreams {
  width: 260px;
  display: flex;
}
.upstream_tables {
  width: 260px;
  font-size: 14px;
  word-wrap: break-word;
  padding: 12px;
}

.bi-table {
}

.name {
  display: block;
  flex-grow: 1;
  line-height: 18px;
}

.entity-info {
  color: #757575;
  font-size: 12px;
  padding: 0.25rem;
  flex-grow: 1;
  line-height: 24px;
  letter-spacing: normal;
}

.node_name {
  word-wrap: break-word;
  max-width: 200px;
}

.cron {
  background-color: rgb(255 215 215) !important;
  color: #b34b00;
  font-size: 1rem;
}
.cron-description {
  text-transform: lowercase;
  color: #777777;
}

.status__valid {
  color: #00b368;
}

.status__invalid {
  color: #b34b00;
}

.status {
  text-transform: capitalize;
  vertical-align: middle;
  text-align: center;
}

.align-items-center {
  align-items: center !important;
}
.col {
  flex: 0 1;
  padding: 1.5rem;
}

.col.active {
  /*background-color: #f5fbff;*/
  padding-bottom: 1.15rem;
  color: #a1a5b7;
  border-bottom: solid 0.2em #2c7be5;
  text-align: center;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  /*margin-top: 3rem;*/
  /*margin-bottom: calc(-.75*var(--bs-gutter-x));*/
  /*margin-left: 3.4rem;*/
}

.header {
  --bs-header-margin-bottom: 1.5rem;
  --bs-header-spacing-y: 1.5rem;
  --bs-header-body-border-width: 1px;
  --bs-header-body-border-color: #e3ebf6;
  --bs-header-body-border-color-dark: rgba(227, 235, 246, 0.1);
  /*margin-bottom: var(--bs-header-margin-bottom);*/
  height: 90px;
  transition: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  /*box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);*/
  /*border-bottom: var(--bs-app-header-base-border-bottom);*/
}
*,
:after,
:before {
  box-sizing: border-box;
}
.header-tabs {
  margin-bottom: calc(var(--bs-header-spacing-y) * -1);
  border-bottom-width: 0;
}
.nav-tabs .nav-item:first-child {
  margin-left: 0;
}
.nav-tabs .nav-item {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #12263f;
  background-color: transparent;
  border-color: #2c7be5;
}
.header-tabs .nav-link {
  /*padding-top: var(--bs-header-spacing-y);*/
  /*padding-bottom: var(--bs-header-spacing-y);*/
}
.nav-link {
  display: block;
  color: #a1a5b7;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.nav-overflow {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 1px;
}

pre {
  border-radius: 1rem;
  padding-right: 2rem;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.logo {
  margin-right: 3.75rem !important;
  flex-grow: 0 !important;
}
.logo img {
  padding: 15px;
  margin-bottom: 0.2rem;
}

.menu-lg-row > .menu-item {
  display: flex;
  align-items: center;
}
.menu-item {
  display: block;
  padding: 0.15rem 0;
}
.me-lg-2 {
  margin-right: 0.5rem !important;
}
.menu,
.menu-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu-item .menu-link {
  cursor: pointer;
  align-items: center;
  flex: 0 0 100%;
  padding: 0.65rem 1rem;
  transition: none;
  outline: none !important;
  font-family: Inter, Helvetica, sans-serif;
}
.menu-title a {
  color: #7e8299;
}
.menu-title a:hover {
  color: #3f4254;
}

.node__header,
.mid {
  background-color: #f4f4f4;
  padding-bottom: 2rem;
}

.mid {
  padding-top: 0.4rem;
}

.rounded-box {
  border-radius: 1rem !important;
  background-color: #ffffff;
  max-width: fit-content;
}

.card-header {
  align-items: center;
  margin: 0.5rem;
  margin-left: 0;
  padding: 0 2.25rem 0 2.25rem;
}

.text-gray-400 {
  color: #b5b5c3 !important;
}

.filters_attribute {
  width: 30%;
  display: block;
  margin: 0 3rem 3rem 3rem;
  float: left;
  /*width:100%;*/
  /*max-width: fit-content;*/
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #eee;
  border-radius: 20px;
  vertical-align: middle;
}

.switch::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

.checkbox:checked + .switch::after {
  left: 20px;
}
.checkbox:checked + .switch {
  background-color: #7983ff;
}

.checkbox {
  display: none;
}

.button-3 {
  appearance: none;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  margin: 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.execute-button {
  background-color: #00b368;
  color: #fff;
}

.executing-button {
  background-color: #bbbbbb;
  color: #fff;
}

.neutral-button {
  background-color: #f6f8fa;
  color: #24292f;
}
.text-black {
  color: #000000 !important;
}

.cube-element {
  color: #757575;
  font-size: 14px;
  padding: 0.25rem;
  flex-grow: 1;
  display: table;
  line-height: 24px;
  letter-spacing: normal;
}
.cube-element .badge {
  margin-left: 0.4rem;
}

.code-button {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  font-size: 1.5rem;
  padding: 0;
  border-radius: 50%;
  overflow: visible;
  color: rgba(0, 0, 0, 0.54);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

#node-create-code pre {
  padding: 1rem !important;
  max-height: 300px;
  overflow: scroll;
  text-align: left;
  position: absolute;
  z-index: 1;
}

.select-name {
  margin-top: 5px;
  padding: 7px 7px;
  width: fit-content;
  border-radius: 4px;
  cursor: default;
  font-size: 0.9125rem;
  color: #95aac9;
}

.select-name:hover {
  background-color: #bdbaba3c;
}

.select-name-highlight {
  font-weight: 600;
  background-color: #bdbaba3c;
  border: 1px solid rgba(94, 94, 94, 0.24);
}

.inactive {
  display: none;
}