// Fonts
@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900';

form {
  text-align: left;

  label {
    font-family: 'Lato', sans-serif;
    display: block;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 90%;
    font-weight: 600;
  }

  .NodeCreationInput {
    margin: 0.5rem 0;
    display: inline-grid;
    width: 35%;
    padding: 0 20px;

    input {
      background-color: #eeeeee;
      border-radius: 10px;
      border-style: none;
      border-width: 1px;
      box-sizing: border-box;
      padding: 1rem;
      font-size: 110%;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
  }

  .DisplayNameInput {
    display: inline-grid;
    box-sizing: border-box;
    flex-wrap: nowrap;
    margin: 0.5rem 0;
    width: 45%;

    input {
      background-color: #eeeeee;
      border-radius: 10px;
      border-style: none;
      border-width: 1px;
      box-sizing: border-box;
      padding: 1rem;
      font-size: 110%;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
  }

  .FullNameInput {
    display: inline-grid;
    box-sizing: border-box;
    flex-wrap: nowrap;
    margin: 0.5rem 0;
    width: 100%;

    input {
      background-color: #eeeeee;
      border-radius: 10px;
      border-style: none;
      border-width: 1px;
      box-sizing: border-box;
      padding: 1rem;
      font-size: 110%;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      margin-bottom: 1rem;
      width: 75%;
    }
  }

  .NamespaceInput {
    display: inline-grid;
    width: 30%;
    box-sizing: border-box;
    flex-wrap: nowrap;
    margin: 0.5rem 0;
    padding: 0 20px;

    div:first-child {
      flex: 1 0 auto;
    }

    input {
      width: 35%;
      border: 0;
      font-family: 'Lato', sans-serif;
      padding: 5px 0;
      font-size: 18px;
      font-weight: 300;
      outline: none;
    }
  }

  .SelectInput {
    background-color: #eee;
    border-radius: 10px;
    border-style: none;
    border-width: 1px;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 110%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }

  .SelectInput div:first-child {
    background-color: #eee !important;
    border: none;
    color: #0c4128;
  }

  .DescriptionInput {
    width: 100%;

    textarea {
      width: 75%;
      background-color: #eeeeee;
      border-radius: 10px;
      border-style: none;
      border-width: 1px;
      box-sizing: border-box;
      padding: 1rem;
      font-family: Lato, Sans;
      font-size: 110%;
      margin: 0.5rem 0;
      height: 100px;
    }
  }

  .QueryInput {
    width: 75%;
  }

  .NodeModeInput {
    select {
      background-color: #eeeeee;
      border-radius: 10px;
      border-style: none;
      padding: 1rem;
      font-family: Lato, Sans;
      font-size: 110%;
    }
  }

  button {
    display: block;
    border-radius: 10px;
    border-style: none;
    padding: 1rem;
    margin: 0.5rem 20px;
    text-transform: uppercase;
    font-family: Lato, Sans;
    font-weight: 600;
    font-size: 110%;
    background-size: 200% auto;
    background-color: #ffd559;
    //background-image: linear-gradient(to right, #F2994A 0%, #F2C94C  51%, #F2994A  100%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }

  .NodeTypeInput {
    width: 25%;
    display: block;
    select {
      background-color: #eeeeee;
      border-radius: 10px;
      border-style: none;
      padding: 1rem;
      font-family: Lato, Sans;
      font-size: 110%;
    }
  }
  .alert {
    padding: 20px;
    background-color: rgb(253 242 242/1);
    color: rgb(155 28 28/1);
    opacity: 1;
    margin-bottom: 15px;
    border-radius: 0.5rem;
    line-height: 1.25rem;
    font-size: 1.2rem;
    svg {
      filter: invert(16%) sepia(68%) saturate(2827%) hue-rotate(344deg) brightness(96%) contrast(100%);
      margin-right: 0.3rem;
      height: 1.5rem;
    }
  }
}
