.sortable {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-family: inherit;
  color: inherit;
  text-transform: uppercase;
}
.sortable.ascending::after {
  content: ' ▲';
}
.sortable.descending::after {
  content: ' ▼';
}
