
.search-box {
    display: flex;
    height: 50%;
  }

.search-results {
    position: absolute;
    z-index: 1000;
    width: 75%;
    background-color: rgba(244, 244, 244, 0.8);
    border-radius: 1rem;
}

.search-result-item {
    text-decoration: wavy;
    padding: 0.5rem;
}