# .coveragerc to control coverage.py
[run]
concurrency = thread,greenlet
branch = True
source = datajunction_server
omit =
    */datajunction_server/sql/parsing/backends/grammar/generated/*
    */datajunction_server/sql/parsing/backends/antlr4.py
    */datajunction_server/sql/parsing/ast.py
    */datajunction_server/internal/access/authentication/google.py
    */datajunction_server/api/access/authentication/google.py
    */datajunction_server/api/djsql.py
    */datajunction_server/construction/dj_query.py

[paths]
source =
    datajunction_server/
    */site-packages/

[report]
show_missing = True
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    if TYPE_CHECKING:
