# This workflow will install Python dependencies, run tests and lint for the DJ client
name: Run tests for DJ client

on:
  push:
    branches: [ main ]
    paths:
      - 'client/python/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'client/python/**'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./client/python

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8', '3.9', '3.10']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        poetry install --with dev
    - name: Test DJ client with pytest
      run: |
        cd client/python/
        pip install -e ../../
        pre-commit run --all-files
        pytest --cov-fail-under=100 --cov=datajunction -vv tests/ --doctest-modules datajunction --without-integration --without-slow-integration
